# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ThirdParty/discord-files/achievement_manager.cpp
ThirdParty/discord-files/achievement_manager.h
ThirdParty/discord-files/activity_manager.cpp
ThirdParty/discord-files/activity_manager.h
ThirdParty/discord-files/application_manager.cpp
ThirdParty/discord-files/application_manager.h
ThirdParty/discord-files/core.cpp
ThirdParty/discord-files/core.h
ThirdParty/discord-files/discord.h
ThirdParty/discord-files/event.h
ThirdParty/discord-files/ffi.h
ThirdParty/discord-files/image_manager.cpp
ThirdParty/discord-files/image_manager.h
ThirdParty/discord-files/lobby_manager.cpp
ThirdParty/discord-files/lobby_manager.h
ThirdParty/discord-files/network_manager.cpp
ThirdParty/discord-files/network_manager.h
ThirdParty/discord-files/overlay_manager.cpp
ThirdParty/discord-files/overlay_manager.h
ThirdParty/discord-files/relationship_manager.cpp
ThirdParty/discord-files/relationship_manager.h
ThirdParty/discord-files/storage_manager.cpp
ThirdParty/discord-files/storage_manager.h
ThirdParty/discord-files/store_manager.cpp
ThirdParty/discord-files/store_manager.h
ThirdParty/discord-files/types.cpp
ThirdParty/discord-files/types.h
ThirdParty/discord-files/user_manager.cpp
ThirdParty/discord-files/user_manager.h
ThirdParty/discord-files/voice_manager.cpp
ThirdParty/discord-files/voice_manager.h
